- page_title "Список экспедиций"

- if policy(Expedition).new?
  .float-right
    = link_to 'Создать', new_expedition_path, class: 'btn btn-info'


%table.table.table-hover
  %thead
    %tr
      %th Название
      %th
      %th

  %tbody
    - @expeditions.each do |expedition|
      %tr
        %td= expedition.title
        %td= expedition.spaceships.count
        %td= link_to 'Удалить', expedition_path(expedition), method: :delete, data: { confirm: 'Вы уверены?' }
